# Redirecionar para www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^ludomusic\.xyz$ [NC]
RewriteRule ^(.*)$ https://www.ludomusic.xyz/$1 [R=301,L]

# Configuração para arquivos de áudio
AddType audio/mpeg .mp3
AddType audio/wav .wav

# CORS para áudio
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Cache para arquivos de áudio
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType audio/mpeg "access plus 1 month"
    ExpiresByType audio/wav "access plus 1 month"
</IfModule>
